# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.GastoEnergetico.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\cesar\Documents\ADS\PWA\GastoEnergetico\.idea\.idea.GastoEnergetico\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
