@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mapa de Gastos Energéticos</h1>
    <h3>Controle os seus gastos enérgeticos e diminua o valor da conta de luz.</h3>
</div>
