@model GastoEnergetico.ViewModel.Parametros.RemoverViewModel
@{
    ViewData["Title"] = "Remover Categoria";
}
<h1>@ViewData["Title"]</h1>
<form action="/Parametros/Remover/@Model.Id" method="post">
    <h2>Deseja realmente remover a categoria @Model.Id ?</h2>
    <input type="submit" value="Confirmar" class="btn btn-danger"/>
</form>


<a href="/Parametros">Voltar</a>